@model IEnumerable<SantImerio.Models.Eventi>

@{
    ViewBag.Title = "Appuntamenti";
}
<div>
    <h2>Eventi ed orari</h2>
</div>
<div class="row">
    <div class="col col-md-6">
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("EditOrariMesse", "Home", new {id = 1 })" ><span class="h3 text-danger glyphicon glyphicon-pencil"></span></a>
        }
        <a href="#messe" data-toggle="collapse" class="h4"><span class="glyphicon glyphicon-time"></span>  Orari SS. Messe</a>

    </div>
    <div class="col col-md-6">
        @if (User.IsInRole("Admin") | User.IsInRole("Bar"))
        {
            <a href="@Url.Action("EditOrariMesse", "Home", new {id = 2 })"><span class="h3 text-danger glyphicon glyphicon-pencil"></span></a>
        }
        <a href="#turnibar" data-toggle="collapse" class="h4"><span class="glyphicon glyphicon-time"></span>  Turni bar</a>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="collapse" id="messe">
            <div class="well">
                @foreach (var item in ViewBag.Orari)
                {
                    @Html.Raw(item.Descrizione)
                }
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="collapse" id="turnibar">
            <div class="well">
                @foreach (var item in ViewBag.Orari1)
                {
                    @Html.Raw(item.Descrizione)
                }
            </div>
        </div>

    </div>
</div>

@foreach (var item in Model)
{
    <hr class="hr1" />
        <!-- Button trigger modal -->
        <div class="col col-md-2">
            <button class="btn btn-primary" id="Button1" type="button" data-toggle="modal" data-target="#@item.Evento_Id">
                @item.Data.ToString("dd MMM yyyy")
            </button>
        </div>
                <div class="col col-md8">
                    <h2>@Html.DisplayFor(modelItem => item.Titolo)</h2>
                </div>
            <!-- Modal -->
                <div class="modal fade" id="@item.Evento_Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title" id="myModalLabel">@Html.DisplayFor(modelItem => item.Titolo)</h2>
                                <p class="badge">@item.Data.ToString("dddd dd-MMM-yyyy")</p>
                            </div>
                            <div class="modal-body">
                                <p>@Html.Raw(item.Descrizione)</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
}

