@model IEnumerable<SantImerio.Models.Documenti>

<h2>Download</h2>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.Raw(item.Descrizione.Replace(Environment.NewLine, "<br/>"))
            </td>
            <td>
                <a href="@Url.Content("~/Content/Documenti/" + item.Documenti_Id + ".pdf")" target="_blank" class="btn btn-sm btn-danger glyphicon glyphicon-save"></a>
            </td>
        </tr>
    }

</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.filtertable.min.js")
<script>
        $(document).ready(function () {
            $('table').filterTable();
        });
</script>

