@model IEnumerable<SantImerio.Models.Eventi>

@{
    ViewBag.Title = "Home";
}
    <div class="div5">
        <span class="fa fa-angle-double-down fa-3x sin"></span>
        <span class="fa fa-angle-double-down fa-3x des"></span>
  <div >

        @if (User.IsInRole("Admin") || User.IsInRole("Collaboratore"))
            {
            <div><a href="@Url.Action("Sfondo", "Home")" title="modifica immagine di sfondo"><h2 class="glyphicon glyphicon-pencil pull-left text-danger"></h2></a></div>

        }
        @foreach (var item in Model)
            {

            <div class="spot">@item.Titolo</div>
            <h1>
                <a href="@Url.Action("Evento", "Eventis", new {id = item.Evento_Id })" class="btn btn-lg btn-primary">@item.SottoTitolo<span class="glyphicon glyphicon-chevron-right"></span></a>
            </h1><hr class="hr1" />

        }
    </div>
    <div class="div4 text-left">
        <h1 id="h" class="text-center">Anno pastorale corrente</h1><hr class="hr1" />
        <div class="div1 content">

            @foreach (var item in ViewBag.Eventi)
            {
                <div class="text-center">

                    <a href="@Url.Action("Evento", "Eventis", new { id = item.Evento_Id })">
                        <h4 class="text-center">@item.Titolo</h4>
                    <h5 class="text-center">@item.Data.ToString("dddd dd MMM yyyy")</h5>
                </a>
                <span>
                    <a href="@Url.Action("Evento", "Eventis", new { id = item.Evento_Id })"><img src="@Url.Content("~/Content/Immagini/Eventi/" + item.Evento_Id + "/" + item.Evento_Id + ".jpg")" alt="" /></a>
                </span>
            </div>
            }
            </div>
        </div>
</div>

