@model IEnumerable<SantImerio.Models.Eventi>

@{
    ViewBag.Title = "Home";
}
    <div class="div5">
    <div >

        @if (User.IsInRole("Admin"))
            {
            <div><a href="@Url.Action("Sfondo", "Home")"><h2 class="glyphicon glyphicon-pencil pull-left text-danger"></h2></a></div>

        }
        @foreach (var item in Model)
            {

            <div class="spot">@item.Titolo</div>
            <h1>
                <a href="@Url.Action("Evento", "Eventis", new {id = item.Evento_Id })" class="btn btn-lg btn-primary">@item.SottoTitolo<span class="glyphicon glyphicon-chevron-right"></span></a>
            </h1>

        }
    </div>
    <div class="div4 text-left">

        @foreach (var item in ViewBag.Eventi)
            {
            <hr class="hr1" />
                <div class="row">
                    <div class="col col-md-2">
                        <a href="@Url.Action("Evento", "Eventis", new { id = item.Evento_Id })"><img src="@Url.Content("~/Content/Immagini/Eventi/" + item.Evento_Id + "/" + item.Evento_Id + ".jpg")" class="img-circle" alt="" /></a>

                    </div>
                    <div class="col col-md-10">
                        <h4>@item.Data.ToString("dddd dd MMM yyyy")</h4>
                        <a href="@Url.Action("Evento", "Home", new { id = item.Evento_Id })">
                            <h2>@item.Titolo <span class="h4">@item.SottoTitolo</span></h2>

                        </a>

                    </div>
                </div>
        }
    </div>
</div>




