@model SantImerio.Models.Eventi

@{
    ViewBag.Title = "Elimina evento";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SottoTitolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SottoTitolo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pubblica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pubblica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Galleria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Galleria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volantino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volantino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pastorale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pastorale)
        </dd>


    </dl>
    <div class="row">
        @if (ViewBag.FilesCount > 0)
        {
            <h4 class="text-danger">
                ATTENZIONE!!!<br />
                Ci sono @ViewBag.FilesCount files agganciati all'evento... se cancelli l'evento anche i files verranno cancellati
            </h4>
            <div class="galla">
                @foreach (var fullpath in ViewBag.Files)
                {
                    var filename = Path.GetFileName(fullpath);
                    <img src="@Url.Content("~/Content/Immagini/Eventi/" + Model.Evento_Id + "/" + @filename)" class="img-thumbnail" />
                }
            </div>

        }

    </div>
    <hr/>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancella" class="btn btn-danger" />
            @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
