@model SantImerio.Models.Eventi

@{
    ViewBag.Title = "Gestione eventi";
}

<h2>@ViewBag.Title</h2>
<h4>Galleria fotografica</h4><hr />
<div>
    <h3>
        @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })
        <span class="badge">Id: @Html.DisplayFor(model => model.Evento_Id, null)</span>
        @Html.DisplayFor(model => model.Titolo)
    </h3>
</div>
@using (Html.BeginForm("EditImg", "Eventis", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" id="file" multiple />
    <h3 class="badge">Dimensione massima file o gruppo di file 40M</h3><br />
    <input type="submit" value="Upload Image" class="btn btn-primary" />
    <br>
    <h4>@ViewBag.Message</h4>
}
<div class="row">
</div>
<hr />
<div class="row">

        @foreach (var item in Model.ImgTitolis)
        {
            <div class="col col-md-2 text-center galla1">
                <div>
                    <a href="@Url.Action("Delete", "ImgTitolis", new { id = item.ImgTitolo_Id, file = item.Img})" title="Cancella immagine"><span class="glyphicon glyphicon-remove pull-left text-danger"></span></a>
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + item.Img)" target="_blank" title="scarica immagine"><span class="glyphicon glyphicon-download-alt"></span></a>
                    <a href="@Url.Action("ImgRotateD", "Eventis", new {id = item.Evento_Id, file = Model.Evento_Id + "/" + item.Img })" title="ruota immagine"><span class="fa fa-undo fa-pull-right text-success"></span> </a><br />

                </div>
                <div>
                    <span>
                        <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + item.Img)" data-lightbox="example-set" data-title="@item.ImgTitolo">
                            <img class="example-image" src="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + item.Img)" alt="" />
                        </a>
                    </span>
                </div>
                <div>
                    <a href="@Url.Action("Edit", "ImgTitolis", new {id = item.ImgTitolo_Id, file = Model.Evento_Id + "/" + item.Img, evento = Model.Evento_Id })" title="Aggiungi un titolo"><span class="fa fa-text-width text-success"></span>@item.ImgTitolo </a><br />

                </div>
            </div>
        }


</div>
<h3>
    @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })
</h3>
