@model SantImerio.Models.Eventi
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Evento";
}
<div class="div1">

    <h1>@Html.DisplayFor(model => model.Titolo)</h1>
    @if (Model.Data != Convert.ToDateTime("01/01/2050"))
    {
        <h4>@Model.Data.ToString("dddd dd MMM yyyy")</h4>

    }

</div>
<div class="div6">

        @if (Request.Browser.IsMobileDevice)
        {
            @Html.ActionLink(" ", "Create", "ImgTitolis", new { id = Model.Evento_Id }, new { @class = "fa fa-mobile fa-4x", title = "Carica immagine da cellulare" })<br/>
        }
        else
        {
            @Html.ActionLink(" ", "Create", "ImgTitolis", new { id = Model.Evento_Id }, new { @class = "fa fa-camera fa-4x", title = "Galleria" })<br/>
        }

    @if (Model.Data > DateTime.Today)
    {
        if (File.Exists(Server.MapPath("/Content/Immagini/Eventi/" + Model.Evento_Id + "/" + Model.Evento_Id + "v.jpg")))
        {
            <div class="divVol">
                <img src="@Url.Content("/Content/Immagini/Eventi/" + Model.Evento_Id + "/" + Model.Evento_Id + "v.jpg")" />
            </div>
        }
        else
        {
            @Html.Raw(Model.Descrizione)
        }

    }
    else
    {
        if (File.Exists(Server.MapPath("/Content/Immagini/Eventi/" + Model.Evento_Id + "/" + Model.Evento_Id + "v.jpg")))
        {
            <a href="@Url.Content("/Content/Immagini/Eventi/" + Model.Evento_Id + "/" + Model.Evento_Id + "v.jpg")" target="_blank" class="btn btn-success"><span class="fa fa-id-card"> Volantino</span></a>
        }
        <a href="@Url.Action("Create", "Commentis", new {EId = Model.Evento_Id, evento=Model.Titolo})" class="btn btn-success"><span class="fa fa-comment"> Lascia un commento</span></a>

    }
</div>
<hr class="hr1" />
@if (ViewBag.CommentiCount > 0)
{
@*Inizio area commenti*@
    <!---Trigger modal commento-->
    <a href="#1" data-toggle="collapse" class="btn btn-primary">Commenti <span class="badge">@ViewBag.CommentiCount</span></a>
    <div class="row">
        <div class="col col-md-12">
            <div class="collapse" id="1">
                <!---Modal commento-->
                <div class="well-sm">
                    @foreach (var item in Model.Commentis.OrderByDescending(d => d.Data))
                    {
                        var emailcom = User.Identity.GetUserName();
                        <hr class="hr1" />
                        <span class="badge">@item.Utente - @item.Data.ToString("dd MMM yyyy hh:mm")</span>
                        <!---Abilito la modifica e la cancellazione per il proprietario del commento e la risposta per tutti-->
                        if (User.Identity.GetUserId() == item.UId || User.IsInRole("Admin"))
                        {
                            if (@item.ComRisps.Count == 0)
                            {
                                <a href="@Url.Action("DeleteUt", "Commentis", new {id = item.Commento_Id, EId = item.Evento_Id})"><span class="fa fa-scissors btn btn-xs btn-danger" title="Cancella"></span></a>
                            }
                            <a href="@Url.Action("Edit", "Commentis", new {id = item.Commento_Id, EId = item.Evento_Id})"><span class="glyphicon glyphicon-pencil btn btn-xs btn-success" title="Modifica"></span></a>
                        }
                        <a href="@Url.Action("Create", "ComRisps", new {id = item.Commento_Id, EID = item.Evento_Id, utente = @item.Utente, email = @item.Email})"><span class="fa fa-reply-all btn btn-xs btn-success" title="Rispondi"></span></a><br />
                        if (File.Exists(Server.MapPath("~/Content/Immagini/Utenti/" + item.UId + ".jpg")))
                        {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/" + item.UId + ".jpg")" />

                        }
                        else
                        {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
                        }

                        <label>@item.Commento</label>
                        //Inizio area risposte
                        if (@item.ComRisps.Count > 0)
                        {
                            <button class="btn btn-xs btn-primary" type="button" data-toggle="collapse" data-target="#@Html.Raw("r" + @item.Commento_Id)" aria-expanded="false" aria-controls="@Html.Raw("r" + @item.Commento_Id)">
                                <span class="badge">@item.ComRisps.Count()</span> Risposte
                            </button>
                            <div class="collapse" id="@Html.Raw("r" + @item.Commento_Id)">
                                <table class="table table-hover">

                                    @foreach (var risp in item.ComRisps.OrderByDescending(r=>r.Data))
                                    {
                                    <tr>
                                        <td></td>
                                        <td class="fa-border">
                                            <span class="badge">@risp.Utente - @risp.Data.ToString("dd MMM yyyy hh:mm")</span>
                                            <!---Abilito la modifica e la cancellazione per il proprietario della risposta e per l'amminisratore-->
                                            @if (risp.UId == User.Identity.GetUserId() | User.IsInRole("Admin"))
                                                {
                                                <a href="@Url.Action("Delete", "ComRisps", new {id = risp.ComRisp_Id, EId = item.Evento_Id })"><span class="fa fa-scissors btn btn-xs btn-danger" title="Cancella"></span></a>
                                                <a href="@Url.Action("Edit", "ComRisps", new {id = risp.ComRisp_Id, EId = item.Evento_Id  })"><span class="glyphicon glyphicon-pencil btn btn-xs btn-success" title="Modifica"></span></a>
                                                }
                                            <br />
                                            @if (File.Exists(Server.MapPath("~/Content/Immagini/Utenti/" + risp.UId + ".jpg")))
                                                {
                                                <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/" + risp.UId + ".jpg")" />

                                                }
                                                else
                                                {
                                                <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
                                                }

                                            <span class=""><strong><em>@risp.Risposta</em></strong></span>
                                        </td>

                                    </tr>
                                    }
                                </table>
                            </div>

                        }
                        //Fine area risposte
                    }
                </div>
            </div>
        </div>
    </div>

    <hr class="hr1" />
}
@*Inizio galleria immagini*@
    <div class="galla">
        @foreach (var item in Model.ImgTitolis)
        {
            <div>
                <span>
                    <a href="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + item.Img)" data-lightbox="example-set" data-title="@item.ImgTitolo">
                    <t>
                        @item.ImgTitolo


                    </t>
                        <img class="example-image" src="@Url.Content("~/Content/Immagini/Eventi/" + Html.DisplayFor(model => model.Evento_Id) +"/" + item.Img)" alt="" />
                    </a>
                </span>
            </div>
        }
    </div>

