@model IEnumerable<SantImerio.Models.Eventi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col col-md-8">
        <a href="@Url.Action("Create", "Eventis")" class="btn btn-primary"><span class="badge">@ViewBag.EventiCount</span> Nuovo</a>
    </div>
    <div class="col col-md-4 text-right">
        <h4>
            @Html.ActionLink(" ", "AvvisiObsoletii", "Eventis", null, new { @class = "glyphicon glyphicon-thumbs-down", title = "Avvisi obsoleti" }) |
            @Html.ActionLink(" ", "AvvisiProgrammati", "Eventis", null, new { @class = "glyphicon glyphicon-thumbs-up", title = "Avvisi programmati" })
        </h4>
    </div>
</div>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SottoTitolo)
        </th>
        <th>
            Data evento prevista
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataF)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Pubblica)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Galleria)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Home)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Volantino)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Pastorale)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SottoTitolo)
        </td>
        <td>
            @item.Data.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @item.DataI.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @item.DataF.ToString("dd-MMM-yyyy")
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Pubblica)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Galleria)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Home)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Volantino)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Pastorale)
        </td>
       <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Evento_Id }, new { @class = "glyphicon glyphicon-pencil" })
            @Html.ActionLink(" ", "Delete", new { id = item.Evento_Id }, new { @class = "text-danger glyphicon glyphicon-remove" })
        </td>
        <td>
            @Html.ActionLink(" ", "EditImg", new { id = item.Evento_Id }, new { @class = "fa fa-camera", title = "Galleria" })
            @Html.ActionLink(" ", "EditImgP", new { id = item.Evento_Id }, new { @class = "glyphicon glyphicon-picture", title = "Foto bacheca" })
        </td>
        <td>
            @Html.ActionLink(" ", "EditVol", new { id = item.Evento_Id }, new { @class = "fa fa-id-card-o", title = "Volantino" })
        </td>
    </tr>
}

</table>
