@model IEnumerable<SantImerio.Models.Eventi>

<h2>Eventi</h2>
<hr class="hr1" />
@*Visualizzo gli eventi ancora da fare*@
<h3 class="text-success">In programma</h3>
<div class="table table-responsive div1 content">
    @foreach (var item in Model.Where(d=>d.Data >= DateTime.Today).OrderBy(d=>d.Data))
    {
        <div class="text-center">

            <a href="@Url.Action("Evento", "Eventis", new { id = item.Evento_Id })">
                <h4 class="text-center">@Html.DisplayFor(modelItem => item.Titolo)</h4>
                <h5 class="text-center">@item.Data.ToString("dddd dd MMM yyyy")</h5>
            </a>
            <span>
                <a href="@Url.Action("Evento", "Eventis", new { id = item.Evento_Id })"><img src="@Url.Content("~/Content/Immagini/Eventi/" + item.Evento_Id + "/" + item.Evento_Id + ".jpg")" alt="" /></a>
            </span>
            @*Menu personalizzato Amministratore*@
            @if (User.IsInRole("Admin"))
            {
                <h4>
                    @Html.ActionLink(" ", "Edit", new { id = item.Evento_Id }, new { @class = "glyphicon glyphicon-pencil", title = "Modifica testo" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Evento_Id }, new { @class = "text-danger glyphicon glyphicon-remove", title = "Elimina" })
                    @Html.ActionLink(" ", "EditVol", new { id = item.Evento_Id }, new { @class = "fa fa-id-card-o", title = "Volantino" })
                    @Html.ActionLink(" ", "Create", "ImgTitolis", new { id = item.Evento_Id }, new { @class = "fa fa-camera", title = "Galleria" })
                    @Html.ActionLink(" ", "EditImgP", new { id = item.Evento_Id }, new { @class = "glyphicon glyphicon-picture", title = "Foto bacheca" })
                    @if (User.IsInRole("Fotografo") && Request.Browser.IsMobileDevice)
                    {
                        @Html.ActionLink(" ", "EditImgCel", new { id = item.Evento_Id }, new { @class = "fa fa-mobile fa-2x", title = "Carica immagine da cellulare" })
                    }
                </h4>

            }
            @*Menu personalizzato Fotografo*@
            @if (User.IsInRole("Fotografo"))
            {
                <h4 >
                    @if (Request.Browser.IsMobileDevice)
                    {
                        @Html.ActionLink(" ", "EditImgCel", new { id = item.Evento_Id }, new { @class = "fa fa-mobile fa-2x", title = "Carica immagine da cellulare" })
                    }
                    else
                    {
                        @Html.ActionLink(" ", "EditImg", new { id = item.Evento_Id }, new { @class = "fa fa-camera", title = "Galleria" })
                    }
                </h4>

            }
</div>
    }
</div>
<hr class="hr1" />
@*Visualizzo gli eventi già fatti*@
<h3 class="text-danger">Già vissuti</h3>
    @foreach (var item in Model.Where(d => d.Data < DateTime.Today).GroupBy(a => a.Data.Year).Select(o => new { anno = o.Key, evento = o.OrderByDescending(e => e.Data) }))
    {
        <h3 class="text-success">@item.anno</h3>
        <div class="table table-responsive div1 content">
            @foreach (var item1 in item.evento)
            {
            <div class="text-center">

                <a href="@Url.Action("Evento", "Eventis", new { id = item1.Evento_Id })">
                    <h4 class="text-center">@Html.DisplayFor(modelItem => item1.Titolo)</h4>
                    <h5 class="text-center">@item1.Data.ToString("dddd dd MMM yyyy")</h5>
                </a>
                <span>
                    <a href="@Url.Action("Evento", "Eventis", new { id = item1.Evento_Id })"><img src="@Url.Content("~/Content/Immagini/Eventi/" + item1.Evento_Id + "/" + item1.Evento_Id + ".jpg")" alt="" /></a>
                </span>
                <h5>
                    @if (@item1.Commentis.Count() > 0)
                    {
                        <a href="@Url.Action("Evento", "Eventis", new { id = item1.Evento_Id })"><span class="fa fa-comment"> @item1.Commentis.Count() commenti</span></a>
                    }
                    <a href="@Url.Action("Create", "Commentis", new {EId = item1.Evento_Id, evento = item1.Titolo})" class="btn btn-xs btn-success"><span class="fa fa-comment"> Dì la tua</span></a>
                </h5>

                @if (User.IsInRole("Admin") || User.IsInRole("Admin"))
                {
                    <h4>
                        @Html.ActionLink(" ", "Edit", new { id = item1.Evento_Id }, new { @class = "glyphicon glyphicon-pencil", title = "Modifica testo" })
                        @Html.ActionLink(" ", "Delete", new { id = item1.Evento_Id }, new { @class = "text-danger glyphicon glyphicon-remove", title = "Elimina" })
                        @Html.ActionLink(" ", "Create", "ImgTitolis", new { id = item1.Evento_Id }, new { @class = "fa fa-camera", title = "Galleria" })
                        @Html.ActionLink(" ", "EditImgP", new { id = item1.Evento_Id }, new { @class = "glyphicon glyphicon-picture", title = "Foto bacheca" })
                        @Html.ActionLink(" ", "EditVol", new { id = item1.Evento_Id }, new { @class = "fa fa-id-card-o", title = "Volantino" })


                    </h4>

                }
            </div>
            }
        </div>
        <hr class="hr1" />
    }

