<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/lightbox.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - Parrocchia Sant'Imerio</title>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="bod" >

          <div class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                  @if (ViewBag.Title == "Home")
                  {
                      <img class="img-responsive img-int" src="~/Content/Immagini/Intestazione.png" />
                  }
                  else
                  {
                      <img class="img-responsive img-int" src="~/Content/Immagini/Intestazione1.png" />
                  }

                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      @*@Html.ActionLink("Nome applicazione", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                  </div>
                  <div class="navbar-collapse collapse navi" style="z-index:1">
                      <ul class="nav navbar-nav navbar-right navi">
                          <li><div><a href="@Url.Action("Index", "Home")" class="glyphicon glyphicon-home"></a></div></li>
                          <li><div><a href="@Url.Action("IndexUt", "Incarichis")" class="fa fa-users"><span>La nostra comunità</span></a></div></li>
                          <li><div><a href="@Url.Action("Appuntamenti", "Home")" class="glyphicon glyphicon-time"><span>Attività e orari</span></a></div></li>
                          <li><div><a href="@Url.Action("IndexUt", "Eventis")" class="glyphicon glyphicon-globe"><span>Eventi</span></a></div></li>
                          <li><div><a href="@Url.Action("IndexUt", "Articolis")" class="glyphicon glyphicon-file"><span>Editoriale</span></a></div></li>
                          @if (Request.IsAuthenticated)
                          {
                              <li><div><a href="@Url.Action("Download", "Home")" class="glyphicon glyphicon-download-alt"><span>Download</span></a></div></li>
                          }
                          @if (User.IsInRole("Admin"))
                          {
                              <li><div><a href="@Url.Action("Index", "RolesAdmin")" class="glyphicon glyphicon-tag text-success"><span>Gestione ruoli</span></a></div></li>
                              <li><div><a href="@Url.Action("Index", "UsersAdmin")" class="glyphicon glyphicon-user text-success"><span>Gestione utenti</span></a></div></li>
                          }
                          @if (User.IsInRole("Admin")|| User.IsInRole("Collaboratore"))
                          {
                            <li><div><a href="@Url.Action("Index", "Eventis")" class="glyphicon glyphicon-list-alt text-success"><span>Gestione eventi</span></a></div></li>
                            <li><div><a href="@Url.Action("Index", "Articolis")" class="glyphicon glyphicon-file text-success"><span>Gestione editoriale</span></a></div></li>
                            <li><div><a href="@Url.Action("Index", "Documentis")" class="glyphicon glyphicon-folder-open text-success"><span>Gestione documenti</span></a></div></li>
                          }
                          @Html.Partial("_LoginPartial")
                      </ul>
                  </div>
              </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        @*Menu destra fisso*@
        <div class="docu">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Statistiches")" target="_blank" title="Statistiche sito">
                        <img src="~/Content/Immagini/Grafico.png" />
                    </a>

                </li>
            </ul>
        </div>
    }

    <div class="container body-content">
        @if (ViewBag.Title == "Home")
        {
            <div id="bg">
            </div>
        }
        else
        {
            <div id="bg1">

            </div>
        }

        @RenderBody()
        @*<footer >
            <p>&copy; @DateTime.Now.Year - Parrocchia Sant'Imerio via Realdo Colombo, 6 CREMONA tel.037229436</p>
        </footer>*@
    </div>
        @*<div class="divCook">
            <span>
                Questo sito utilizza cookie di profilazione, propri o di altri. Se accedi a un qualunque elemento del sito acconsenti all'uso del cookie.
                <a href="@Url.Action("InfoCookie", "Home")" class="btn btn-lg btn-warning">Informazioni</a>
                <input type="button" id="btnCook" value="acc" />
                <button id="btnCook" type="button" class="btn btn-lg btn-primary">@Request.Cookies["simerio"] Acconsenti</button>
                <label id="lblCook"></label>
            </span>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/lightbox-plus-jquery.min.js")
    @Scripts.Render("~/Scripts/jquery.filtertable.min.js")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")








</body>
</html>
