@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right ">
        <li>
            <div>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="glyphicon glyphicon-log-out text-danger"></a>

            </div>
        </li>
        <li>
            <div>
                <a href="@Url.Action("Index", "Manage")">
                    @if (File.Exists(Server.MapPath("~/Content/Immagini/Utenti/" + @User.Identity.GetUserId() + ".jpg")))
                    {
                        <img class="img-login" src="@Url.Content("~/Content/Immagini/Utenti/" + @User.Identity.GetUserId() + ".jpg")" />

                    }
                    else
                    {
                        <img class="img-login" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
                    }
                </a>

            </div>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right ">
        <li>
            <div>
                <a id="loginlink" class="glyphicon glyphicon-log-in" href="@Url.Action("Login", "Account")"></a>
            </div>
        </li>
    </ul>
}
