@model IEnumerable<SantImerio.Models.Documenti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create", "Documentis")"><span class="badge">@ViewBag.DocumentiCount </span> Nuovo</a>
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.Raw(item.Descrizione)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.Documenti_Id }, new {@class="glyphicon glyphicon-pencil", title="Modifica descrizione" })  
            <a href="@Url.Content("~/Content/Documenti/" + item.Documenti_Id + ".pdf")" target="_blank" title="Visualizza documento"><span class="fa fa-file-pdf-o fa-2x text-success" aria-hidden="true"></span></a>  
            @Html.ActionLink(" ", "Delete", new { id=item.Documenti_Id }, new {@class= "glyphicon glyphicon-remove text-danger", title="Cancella documento" })
        </td>
    </tr>
}

</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.filtertable.min.js")
<script>
        $(document).ready(function () {
            $('table').filterTable();
        });
</script>
