@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Dettaglio ruolo";
}

<h2>@ViewBag.Title<span class="text-success"> @Model.Name</span></h2>
<h3></h3>
<h3>@ViewBag.UserCount utenti nel ruolo</h3>
@if (ViewBag.UserCount == 0)
{
    <p>No users found in this role.</p>
}

<table class="table table-hover">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @if (File.Exists(@Server.MapPath("/Content/Immagini/Utenti/" + @item.Id + ".jpg")))
                {
                    <a href="@Url.Action("Edit", "UsersAdmin", new {id = item.Id })"><img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/" + @item.Id + ".jpg")" /><span> @item.Nome @item.Cognome</span></a>
                }
                else
                {
                    <a href="@Url.Action("Edit", "UsersAdmin", new {id = item.Id })"><img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/anonimous.jpg")" /><span> @item.Nome @item.Cognome</span></a>
                        }
</td>
        </tr>
    }
</table>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


