@model IEnumerable<SantImerio.Models.ComRisp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Commento.Commento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Risposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Commento.Commento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Risposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComRisp_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComRisp_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComRisp_Id })
        </td>
    </tr>
}

</table>
