@model SantImerio.Models.Incarichi

@{
    ViewBag.Title = "Gestione immagine";
}

<h2>@ViewBag.Title</h2>
<h4>Fototessera</h4><hr />
<div>
    <h3>
        @Html.ActionLink(" ", "Index", null, new { @class = "glyphicon glyphicon-arrow-left" })
        <span class="badge">Id: @Html.DisplayFor(model => model.Incarichi_Id, null)</span>
        @Model.Nome @Model.Cognome
    </h3>
</div>
@using (Html.BeginForm("EditImg", "Incarichis", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload Image" />
    <br><br>
    @ViewBag.Message
}
<div class="row">
</div>
<hr />

<div class="row">
    <div class="text-left">
        <span class="galla1">
            <a href="@Url.Content("~/Content/Immagini/Incarichi/" + Model.Incarichi_Id + ".jpg")" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/Immagini/Incarichi/" + Model.Incarichi_Id + ".jpg")" /></a>
        </span>
    </div>
</div>

