@model IEnumerable<SantImerio.Models.Incarichi>

<style>
    .tab-content > .active{
        background-color:#fff;
    }
</style>
<h2 class="text-center">
    @ViewBag.Title
</h2>
<hr class="hr1" />
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
       <li role="presentation" style="width:33.3%;text-align:center;padding:0" >
           
        <a href="#a" aria-controls="home" role="tab" data-toggle="tab">
           <img class="img-tab" src="~/Content/Immagini/Duomo.jpg" />
           <div class="text-tab">Cattedrale</div>
        </a>
       </li>
        <li role="presentation" style="width:33.3%;text-align:center;padding:0">
            
        <a href="#b" aria-controls="profile" role="tab" data-toggle="tab"><img class="img-tab" src="~/Content/Immagini/SanImerio.jpg" /><div class="text-tab">S.Imerio</div></a>
        </li>
        <li role="presentation" style="width:33.3%;text-align:center;padding:0">
            
        <a href="#c" aria-controls="messages" role="tab" data-toggle="tab"><img class="img-tab" src="~/Content/Immagini/SanPietro.jpg" /><div class="text-tab">S.Pietro</div></a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="null">
            <div>
                <img class="img-thumbnail" src="~/Content/Immagini/GalleriaHome/Sfondo/Home.jpg" />
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="a">
            <!---Pulsante nodifica per Admin-->
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Create", "Incarichis")" title="Aggiungi persona"><span class="glyphicon glyphicon-plus text-danger h3"></span></a>
                <a href="@Url.Action("Index", "Incarichis")" title="Elenco incarichia"><span class="fa fa-list fa-2x"></span></a>
            }


            @foreach (var item in Model.Where(p=>p.Parrocchia == "Cattedrale"))
            {

                <div class="row gallart">
                    <div class="col col-md-2">

                        @if (File.Exists(@Server.MapPath("/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")))
                {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")" />
                        }
                        else
                        {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
                        }
                    </div>
                    <div class="col col-md-10">


                        <h3>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("EditImg", "Incarichis", new { id = item.Incarichi_Id })" title="Foto profilo"><span class="fa fa-address-book pull-left"></span></a>
                                <a href="@Url.Action("Edit", "Incarichis", new {id = item.Incarichi_Id })" title="Modifica dati"><span class="glyphicon glyphicon-pencil pull-left text-danger"></span></a>
                            }
                            @item.Incarico
                        </h3>
                        <h4>@item.Nome @item.Cognome</h4>
                        <p>@item.Indirizzo <br /><span class="fa fa-phone">Tel. @item.Telefono</span>  -  <a href="@Url.Content("mail to:" + @item.Email)"><span class="glyphicon glyphicon-envelope">@item.Email</span></a></p>
                    </div>
                </div>
            }

        </div>
        <div role="tabpanel" class="tab-pane fade" id="b">
            <!---Pulsante nodifica per Admin-->
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Create", "Incarichis")" title="Aggiungi persona"><span class="glyphicon glyphicon-plus text-danger h3"></span></a>
                <a href="@Url.Action("Index", "Incarichis")" title="Elenco incarichia"><span class="fa fa-list fa-2x"></span></a>
            }


            @foreach (var item in Model.Where(p => p.Parrocchia == "Sant Imerio"))
            {

                <div class="row gallart">
                    <div class="col col-md-2">

                        @if (File.Exists(@Server.MapPath("/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")))
                {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")" />
                        }
                        else
                        {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
                        }
                    </div>
                    <div class="col col-md-10">


                        <h3>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("EditImg", "Incarichis", new { id = item.Incarichi_Id })" title="Foto profilo"><span class="fa fa-address-book pull-left"></span></a>
                                <a href="@Url.Action("Edit", "Incarichis", new {id = item.Incarichi_Id })" title="Modifica dati"><span class="glyphicon glyphicon-pencil pull-left text-danger"></span></a>
                            }
                            @item.Incarico
                        </h3>
                        <h4>@item.Nome @item.Cognome</h4>
                        <p>@item.Indirizzo <br /><span class="fa fa-phone">Tel. @item.Telefono</span>  -  <a href="@Url.Content("mail to:" + @item.Email)"><span class="glyphicon glyphicon-envelope">@item.Email</span></a></p>
                    </div>
                </div>
            }
        </div>
        <div role="tabpanel" class="tab-pane fade" id="c">
            <!---Pulsante nodifica per Admin-->
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Create", "Incarichis")" title="Aggiungi persona"><span class="glyphicon glyphicon-plus text-danger h3"></span></a>
                <a href="@Url.Action("Index", "Incarichis")" title="Elenco incarichia"><span class="fa fa-list fa-2x"></span></a>
            }


            @foreach (var item in Model.Where(p => p.Parrocchia == "San Pietro"))
            {

                <div class="row gallart">
                    <div class="col col-md-2">

                        @if (File.Exists(@Server.MapPath("/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")))
                {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")" />
                        }
                        else
                        {
                            <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
                        }
                    </div>
                    <div class="col col-md-10">


                        <h3>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("EditImg", "Incarichis", new { id = item.Incarichi_Id })" title="Foto profilo"><span class="fa fa-address-book pull-left"></span></a>
                                <a href="@Url.Action("Edit", "Incarichis", new {id = item.Incarichi_Id })" title="Modifica dati"><span class="glyphicon glyphicon-pencil pull-left text-danger"></span></a>
                            }
                            @item.Incarico
                        </h3>
                        <h4>@item.Nome @item.Cognome</h4>
                        <p>@item.Indirizzo <br /><span class="fa fa-phone">Tel. @item.Telefono</span>  -  <a href="@Url.Content("mail to:" + @item.Email)"><span class="glyphicon glyphicon-envelope">@item.Email</span></a></p>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<!---Pulsante nodifica per Admin-->
    @*@if (User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Create", "Incarichis")" title="Aggiungi persona"><span class="glyphicon glyphicon-plus text-danger h3"></span></a>
}


@foreach (var item in Model.Where(d => d.Incarico == "Parroco" || d.Incarico == "Vicario"))
{

    <div class="row gallart">
        <div class="col col-md-2">

            @if (File.Exists(@Server.MapPath("/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")))
                {
                <img class="img-usr" src="@Url.Content("~/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")" />
            }
            else
            {
                <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
            }
        </div>
        <div class="col col-md-10">


        <h3>
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("EditImg", "Incarichis", new { id = item.Incarichi_Id })" title="Foto profilo"><span class="fa fa-address-book pull-left"></span></a>
            <a href="@Url.Action("Edit", "Incarichis", new {id = item.Incarichi_Id })" title="Modifica dati"><span class="glyphicon glyphicon-pencil pull-left text-danger"></span></a>
        }
        @item.Incarico</h3>
        <h4>@item.Nome @item.Cognome</h4>
        <p>@item.Indirizzo <br /><span class="fa fa-phone">Tel. @item.Telefono</span>  -  <a href="@Url.Content("mail to:" + @item.Email)"><span class="glyphicon glyphicon-envelope">@item.Email</span></a></p>
        </div>
    </div>
}
<hr class="hr1" />

@foreach (var item in Model.Where(d => d.Incarico == "Segreteria Parrocchiale").OrderBy(d => d.Nome))
{
    <div class="row gallart">
        <div class="col col-md-2">
            @if (File.Exists(@Server.MapPath("/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")))
                {
                <img class="img-usr" src="@Url.Content("~/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")" />
            }
            else
            {
                <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
            }

        </div>
        <div class="col col-md-10">
            <h3>

                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("EditImg", "Incarichis", new { id = item.Incarichi_Id })" title="Aggiungi persona"><span class="fa fa-address-book pull-left"></span></a>
                    <a href="@Url.Action("Edit", "Incarichis", new {id = item.Incarichi_Id })" title="Modifica dati"><span class="glyphicon glyphicon-pencil pull-left text-danger"></span></a>
                }
                @item.Incarico
            </h3>
            <h4>@item.Nome @item.Cognome</h4>
            <p>@item.Indirizzo <br /><span class="fa fa-phone">Tel. @item.Telefono</span>  -  <a href="@Url.Content("mail to:" + @item.Email)"><span class="glyphicon glyphicon-envelope">@item.Email</span></a></p>
        </div>
   </div>
}
<hr class="hr1"/>
@foreach (var item in Model.Where(d => d.Incarico != "Parroco" && d.Incarico != "Vicario" && d.Incarico != "Segreteria Parrocchiale").OrderBy(d=>d.Nome))
{
    <div class="row gallart">
        <div class="col col-md-2">
            @if (File.Exists(@Server.MapPath("/Content/Immagini/Incarichi/" + item.Incarichi_Id + ".jpg")))
            {
            }
            else
            {
                <img class="img-usr" src="@Url.Content("~/Content/Immagini/Utenti/Anonimous.jpg")" />
            }

        </div>
        <div class="col col-md-10">
            <h3>
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("EditImg", "Incarichis", new { id = item.Incarichi_Id })" title="Aggiungi persona"><span class="fa fa-address-book pull-left"></span></a>
                    <a href="@Url.Action("Edit", "Incarichis", new {id = item.Incarichi_Id })" title="Modifica dati"><span class="glyphicon glyphicon-pencil pull-left text-danger"></span></a>
                }

                @item.Incarico
            </h3>
            <h4>@item.Nome @item.Cognome</h4>
            <p>@item.Indirizzo <br /><span class="fa fa-phone">Tel. @item.Telefono</span>  -  <a href="@Url.Content("mail to:" + @item.Email)"><span class="glyphicon glyphicon-envelope">@item.Email</span></a></p>

        </div>

    </div>
}*@
@section Scripts{
    
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>

    }