@model IEnumerable<SantImerio.Models.Articoli>

@{
    ViewBag.Title = "Editoriale";
}

<h2>Due righe per riflettere...</h2>
@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("Create", "Articolis")" title="Aggiungi articolo"><span class="fa fa-plus fa-2x text-danger"></span></a>
}
<hr class="hr1" />
<table class="table table-responsive tblart">
@foreach (var item in Model)
{
    <tr>
        <td>
            <div class="row gallart divArticoli">
                @if (File.Exists(@Server.MapPath("/Content/Immagini/Articoli/" + item.Articolo_Id + "/" + item.Articolo_Id + ".jpg")))
                {
                    <img class="img-usr" src="@Url.Content("~/Content/Immagini/Articoli/" + item.Articolo_Id + "/" + item.Articolo_Id + ".jpg")" />
                }
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("EditImgP", "Articolis", new { id = item.Articolo_Id })" title="Immagine"> <span class="glyphicon glyphicon-picture"></span> </a>
                    <a href="@Url.Action("Edit", "Articolis", new {id = item.Articolo_Id })" title="Modifica dati"> <span class="glyphicon glyphicon-pencil text-danger"></span> </a>

                }
                <titolo><a href="@Url.Action("Articolo", "Articolis", new {id = @item.Articolo_Id })">@item.Titolo</a></titolo><br/>
                <sottotitolo>@item.SottoTitolo</sottotitolo>
                <div><em>@item.Data.ToString("dd MMM yyyy") <span class="badge">@item.Autore</span></em></div>
            </div>
            <hr class="hr1" />
        </td>
    </tr>
}

</table>
